<!doctype html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title>Clay Szlosek</title>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet" type="text/css">
    </head>
    <body>
      <div class="container-fluid" style="background-color: #e8fff0">
      hasdjfshjfasfhslka
      </div>
      <div class="flex-center position-ref full-height">
          <div class="content">
              <div class="title m-b-md">
              </div>

              <div class="links">
                  <a href="https://www.linkedin.com/in/clay-szlosek">LinkedIn</a>
                  <a href="https://www.github.com/cszlo">Github</a>
                  <a href="https://github.com/laravel/laravel">Resume</a>
                  <a href="/blog">Blog</a>
              </div>
          </div>
      </div>
    </body>
</html>
